/target

mail.toml
mail.test.toml
web.toml
web.test.toml
db.toml
db.test.toml
fs.toml
fs.test.toml
highlight.toml
highlight.test.toml

pkg
jirs-client/pkg
jirs-client/tmp
jirs-client/build
tmp
jirs-server/target
jirs-cli/target
jirs-bat/bat

highlight/jirs-highlight/build
uploads
config
shared/jirs-config/target
jirs-client/src/location.rs
