.innerPage {
    padding-left: calc(var(--appNavBarLeftWidth) + 20px);
    padding-right: 20px;
}

@media (min-width: 1240px) {
    .innerPage {
        padding: 25px 32px 50px calc(var(--appNavBarLeftWidth) + var(--secondarySideBarWidth) + 40px);
    }
}
