.styledComment {
    position: relative;
    margin-top: 25px;
    font-size: 15px;

    > .userAvatar {
        position: absolute;
        top: 0;
        left: 0;
    }

    > .content {
        padding-left: 44px;

        > .userName {
            display: inline-block;
            padding-right: 12px;
            padding-bottom: 10px;
            color: var(--textDark);
            font-family: var(--font-medium);
            font-weight: normal;
        }

        > .createdAt {
            display: inline-block;
            padding-bottom: 10px;
            color: var(--textDark);
            font-size: 14.5px;
        }

        /* as view */
        > .body {
            padding-bottom: 10px;
            white-space: pre-wrap;
        }

        > .editButton {
            margin-right: 12px;
            display: inline-block;
            padding: 2px 0;
            color: var(--textMedium);
            font-size: 14.5px;
            cursor: pointer;
            user-select: none;

            &:hover {
                text-decoration: underline;
            }
        }

        > .deleteButton {
            display: inline-block;
            padding: 2px 0;
            color: var(--textMedium);
            font-size: 14.5px;
            cursor: pointer;
            user-select: none;

            &:hover {
                text-decoration: underline;
            }

            &:before {
                position: relative;
                right: 6px;
                content: '·';
                display: inline-block;
            }
        }
    }
}
