<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <link rel="icon" href="/logo.svg">
    <title>JIRS</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<main id="app"></main>
</body>
</html>
