:host, html, body {
    width: 100%;
    display: block;
    height: 100%;
}

main {
    width: 100%;
    display: block;
    min-height: 100%;
}

article#inner-layout {
    width: 100%;
}

@media (min-width: 1240px) {
    article#inner-layout {
        display: flex;
        justify-content: start;
    }
}
