#epics {
    > section {
        max-width: 1024px;
        margin: 0 auto;

        > h1 {
            font-family: var(--font-bold);
        }

        > .description {
            font-family: var(--font-regular);
            margin: {
                top: 16px;
                bottom: 16px;
            }
        }

        > ul.epicsList {
            margin: 0;
            margin: {
                top: 5px;
            }
            list-style: none;
            padding: 0;


            > li.epic {
                padding: 0;
                margin: 5px 0 0;

                > .firstRow {
                    display: flex;
                    justify-content: space-between;
                    margin: {
                        top: 5px;
                        bottom: 5px;
                    };

                    > .epicName {
                        font-family: var(--font-black);
                        font-size: 16px;
                    }

                    > .date {
                        width: 400px;
                        display: flex;
                        justify-content: space-between;
                    }

                    > .counter {
                        //
                    }
                }

                > .secondRow {
                    margin: {
                        top: 5px;
                        bottom: 5px;
                        left: 20px;
                        right: 20px;
                    };

                    > .issues {
                        > .issue {
                            display: flex;
                            justify-content: space-between;

                            > .flags {
                                display: flex;
                                justify-content: space-between;
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
