#projectSettings > .formContainer {
    display: flex;
    justify-content: center;
}

#projectSettings > .formContainer .styledForm {
    max-width: 1024px;
    width: 100%;
}

#projectSettings > .formContainer .styledForm > .formElement > .actionButton {
    margin-top: 30px;
}

#projectSettings > .formContainer .styledForm > .formElement > .styledField.columnsField > .styledLabel {
    font-size: 14px;
}

#projectSettings > .formContainer .styledForm > .formElement > .styledField > .columnsSection > .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#projectSettings > .formContainer .styledForm > .formElement > .styledField > .columnsSection > .columns > .columnPreview {
    width: auto;
    min-height: 60px;
    background: var(--backgroundLightest);
    margin: 0 5px;
}

#projectSettings > .formContainer .styledForm > .formElement > .styledField > .columnsSection > .columns > .columnPreview > .columnName {
    display: block;
    margin: 0 5px;
    padding: 13px 10px 17px;
    text-transform: uppercase;
    color: var(--textMedium);
    font-size: 12.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#projectSettings > .formContainer .styledForm > .formElement > .styledField > .columnsSection > .columns > .columnPreview > .columnName > span {
    cursor: pointer;
    user-select: none;
}

#projectSettings > .formContainer .styledForm > .formElement > .styledField > .columnsSection > .columns > .columnPreview > .columnName > .styledInput {
}

#projectSettings > .formContainer .styledForm > .formElement > .styledField > .columnsSection > .columns > .columnPreview > .columnName.addColumn,
#projectSettings > .formContainer .styledForm > .formElement > .styledField > .columnsSection > .columns > .columnPreview > .columnName.addColumn > i {
    color: var(--textMedium);
    text-align: center;
    cursor: pointer;
}
