#register > .styledForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto 24px;
    width: 400px;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    box-sizing: border-box;
    color: var(--textMedium);
}

#register > .styledForm:first-of-type {
    margin-top: 124.5px;
}

#register .twoRow {
    display: flex;
    justify-content: space-between;
}

#register > .styledForm > .formElement > .noPasswordSection {
    line-height: 32px;
    margin-top: 15px;
    display: flex;
    cursor: pointer;
}

#register > .styledForm > .formElement > .noPasswordSection > .styledIcon {
    margin-right: 5px;
    line-height: 32px;
}

#register > .styledForm > .formElement > .noPasswordSection > span {
    display: block;
    line-height: 32px;
}

#register .error > p {
    line-height: 1.4285;
    color: var(--danger);
    font-family: var(--font-medium);
    text-align: center;
    font-size: 14.5px;
    border-top: 1px solid var(--danger);
    margin-top: 15px;
}
