#reports {
}

#reports > .top > .graph {
    margin-top: 15px;
}

#reports > .top > .graph > .graphHeader {
    margin-bottom: 15px;
}

#reports > .top > .issueList {
    display: block;
    margin-top: 15px;
}

#reports > .top > .issueList > .issueListHeader {
    margin-bottom: 15px;
}

#reports > .top > .issueList > .issue {
    display: grid;
    grid-template-columns: 32px 32px 240px auto 120px;
}

#reports > .top > .issueList > .issue.selected {
    color: var(--primary);
    font-family: var(--font-bold);
}

#reports > .top > .issueList > .issue.nonSelected {
    color: var(--textLight);
    font-family: var(--font-regular);
}
