.divider {
    margin-top: 17px;
    padding-top: 18px;
    border-top: 1px solid var(--borderLight);
}

.styledButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    border-radius: 3px;
    transition: all 0.1s;
    appearance: none;
    cursor: pointer;
    user-select: none;
    font-size: 14.5px;
}

.styledButton.withIcon > span.text {
    margin-left: 7px;
}

.styledButton:disabled {
    opacity: 0.6;
    cursor: default;
}

.styledButton:not(.onlyIcon) {
    padding: 0 12px;
}

.styledButton.onlyIcon {
    padding: 0 9px;
}

.styledButton.primary, .styledButton.primary > i {
    color: #fff;
    background: var(--primary);
    font-family: var(--font-medium);
}

.styledButton.primary:not(:disabled):hover {
    filter: brightness(115%);
}

.styledButton.primary:not(:disabled):active {
    filter: brightness(110%);
}

.styledButton.primary:not(:disabled).isActive {
    filter: brightness(110%);
}

.styledButton.success, .styledButton.success > i {
    color: #fff;
    background: var(--success);
}

.styledButton.danger, .styledButton.danger > i {
    color: #fff;
    background: var(--danger);
}

.styledButton.secondary, .styledButton.secondary > i {
    color: var(--textDark);
    background: var(--secondary);
    font-family: var(--font-regular);
}

.styledButton.secondary:not(:disabled):hover {
    background: var(--backgroundLight);
}

.styledButton.secondary:not(:disabled):active {
    color: var(--primary);
    background: var(--backgroundLightPrimary);
}

.styledButton.secondary:not(:disabled).isActive {
    color: var(--primary);
    background: var(--backgroundLightPrimary);
}

.styledButton.empty, .styledButton.empty > i {
    background: #fff;
    color: var(--textDark);
    font-family: var(--font-regular);
}

.styledButton.empty:not(:disabled):hover {
    background: var(--backgroundLight);
}

.styledButton.empty:not(:disabled):active {
    color: var(--primary);
    background: var(--backgroundLightPrimary);
}

.styledButton.empty:not(:disabled).isActive {
    color: var(--primary);
    background: var(--backgroundLightPrimary);
}

.styledInput {
    position: relative;
    display: inline-block;
    height: 32px;
    width: 100%;
}

.styledInput > .inputElement {
    height: 100%;
    width: 100%;
    padding: 0 7px;
    border-radius: 3px;
    border: 1px solid var(--borderLightest);
    color: var(--textDarkest);
    background: var(--backgroundLightest);
    transition: background 0.1s;
    font-family: var(--font-regular);
    font-size: 15px;
}

.styledInput > .inputElement.withIcon {
    padding-left: 32px;
}

.styledInput > i.styledIcon {
    font-size: 15px;
    position: absolute;
    top: 8px;
    left: 8px;
    pointer-events: none;
    color: #5E6C84;
}

.styledInput > .inputElement:hover {
    background: var(--backgroundLight);
}

.styledInput > .inputElement:focus {
    background: #fff;
    border: 1px solid var(--borderInputFocus);
    box-shadow: 0 0 0 1px var(--borderInputFocus);
}

.styledInput.invalid,
.styledInput.invalid:focus {
    border: 1px solid var(--danger);
    box-shadow: none;
}
