.styledEditor {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;

    > input[type="radio"] {
        display: none;
    }

    > .navbar {
        border: 1px solid var(--borderLight);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-family: var(--font-medium);
        font-weight: normal;
        text-align: center;
        height: 32px;
        vertical-align: middle;
        line-height: 2;
        white-space: nowrap;
        transition: all 0.1s;
        appearance: none;
        cursor: pointer;
        user-select: none;
        font-size: 14.5px;
        border-color: var(--borderInputFocus);

        &:not(:hover) {
            border-color: var(--backgroundLightest);
            background-color: var(--borderLight);
        }

        &:hover {
            background: #fff;
            border: 1px solid var(--borderInputFocus);
            box-shadow: 0 0 0 1px var(--borderInputFocus);
        }
    }

    > .navbar.activeTab {
        background-color: var(--backgroundLightest);
        border-color: var(--borderLight);
    }

    > .navbar.editorTab {
        min-width: 50%;
    }

    > .navbar.viewTab {
        min-width: 50%;
    }

    > .styledTextArea {
        grid-area: view;
        display: none;
    }

    > .view {
        min-width: 100%;
        display: none;
        min-height: 40px;
        padding-top: 15px;
    }

    > input.editorRadio {
        &:checked {
            ~ {
                .styledTextArea {
                    display: block;
                }
            }
        }
    }

    > input.viewRadio {
        &:checked {
            ~ {
                .view {
                    display: block;
                }
            }
        }
    }
}
