.selectItem {
    padding: 4px 8px;
}

.selectItem.priority.highest > .styledIcon,
.optionItem.priority.highest > .styledIcon {
    color: var(--highest);
}

.selectItem.priority.high > .styledIcon,
.optionItem.priority.high > .styledIcon {
    color: var(--high);
}

.selectItem.priority.medium > .styledIcon,
.optionItem.priority.medium > .styledIcon {
    color: var(--medium);
}

.selectItem.priority.low > .styledIcon,
.optionItem.priority.low > .styledIcon {
    color: var(--low);
}

.selectItem.priority.lowest > .styledIcon,
.optionItem.priority.lowest > .styledIcon {
    color: var(--lowest);
}

.selectItem.priority > .selectItemLabel {
    text-transform: capitalize;
}

.optionItem {
    display: flex;
    align-items: center;
}

.optionItem > .styledIcon {
    font-size: 18px;
}

.selectItem > .selectItemLabel,
.optionItem > .optionLabel {
    padding: 0 5px 0 7px;
    font-size: 15px;
}

.optionItem.priority > .optionLabel {
    padding: 0 5px 0 7px;
    font-size: 15px;
    text-transform: capitalize;
}

.optionItem.priority > .styledIcon {
    font-size: 18px;
}

/* edit issue */
.topActions > .styledSelect > .valueContainer,
.topActions > .styledSelect > .valueContainer > .selectItem {
    height: 100%;
}

.topActions .selectItem, .topActions .optionItem {
    padding: 0 12px;
}
