.styledDateTimeInput {
    position: relative;
}

/*         TOOLTIP           */

.dateTimeTooltip {
    padding: 15px;
    position: absolute;
    top: -50px;
    left: 110px;
    width: 610px;
    min-width: 610px;
    max-width: 610px;
}

.dateTimeTooltip:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 56px;
    transform: rotate(45deg);
    background: white;
    z-index: -1;
    border-left: 1px solid rgba(9, 30, 66, 0.25);
    border-bottom: 1px solid rgba(9, 30, 66, 0.25);
}

@media (max-width: 1100px) {
    .dateTimeTooltip {
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .dateTimeTooltip:before {
        display: none;
    }
}

.dateTimeTooltip > h2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.dateTimeTooltip > h2 > .headerText {
    line-height: 34px;
}

.dateTimeTooltip > .calendar {
}

.dateTimeTooltip > .calendar > .week {
    display: flex;
}

.dateTimeTooltip > .calendar > .week.weekHeader {
    border-bottom: 1px solid var(--textDarkest);
}

.dateTimeTooltip > .calendar > .week > .day {
    width: calc(100% / 7);
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
}

.dateTimeTooltip > .calendar > .week > .day.inCurrentMonth:hover,
.dateTimeTooltip > .calendar > .week > .day.outCurrentMonth:hover {
    background: var(--primary);
    color: var(--asideIcon);
}

.dateTimeTooltip > .calendar > .week > .day.inCurrentMonth {
    color: var(--textDarkest);
}

.dateTimeTooltip > .calendar > .week > .day.outCurrentMonth {
    color: var(--textLight);
}

.dateTimeTooltip > .calendar > .week > .day.inCurrentMonth.selected,
.dateTimeTooltip > .calendar > .week > .day.outCurrentMonth.selected {
    color: var(--primary);
    background: var(--asideIcon);
}

.dateTimeTooltip > .calendar > .week > .day {
    font-family: var(--font-medium);
    font-size: 1rem;
    cursor: pointer;
}
