i.styledIcon {
    color: var(--primary);
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}

i.styledIcon.left {
    transform: translate(0, 0);
}

i.styledIcon.top {
    transform: translate(0, 0);
}

i.styledIcon:before {
    font-family: 'IcoFont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i.styledIcon.stopwatch:before {
    content: "\ec89";
}

i.styledIcon.bug:before {
    content: "\eec7";
}

i.styledIcon.task:before {
    content: "\ef27";
}

i.styledIcon.story:before {
    content: "\ef2d";
}

i.styledIcon.arrowDown:before {
    content: "\ea92";
}

i.styledIcon.arrowUp:before {
    content: "\ea95";
}

i.styledIcon.arrowLeftCircle:before {
    font-family: "jira";
    content: "\e917";
}

i.styledIcon.chevronDown:before {
    font-family: "jira";
    content: "\e900";
}

i.styledIcon.chevronLeft:before {
    font-family: "jira";
    content: "\e901";
}

i.styledIcon.chevronRight:before {
    font-family: "jira";
    content: "\e902";
}

i.styledIcon.chevronUp:before {
    font-family: "jira";
    content: "\e903";
}

i.styledIcon.board:before {
    content: "\ead0";
}

i.styledIcon.help:before {
    content: "\efca";
}

i.styledIcon.link:before {
    content: "\ef71";

}

i.styledIcon.menu:before {
    font-family: "jira";
    content: "\e916";
}

i.styledIcon.more:before {
    font-family: "jira";
    content: "\e90e";
}

i.styledIcon.attach:before {
    font-family: "jira";
    content: "\e90d";
}

i.styledIcon.plus:before {
    content: "\efc2";
}

i.styledIcon.search:before {
    content: "\ec82";
}

i.styledIcon.issues:before {
    content: "\ed19";
}

i.styledIcon.settings:before {
    content: "\efe2";
}

i.styledIcon.close:before {
    content: "\eee4";
}

i.styledIcon.feedback:before {
    font-family: "jira";
    content: "\e918";
}

i.styledIcon.trash:before {
    content: "\eebb";
}

i.styledIcon.github:before {
    content: "\ed3e";
}

i.styledIcon.shipping:before {
    content: "\efbe";
}

i.styledIcon.component:before {
    content: "\eef8";
}

i.styledIcon.reports:before {
    content: "\eeaf";
}

i.styledIcon.page:before {
    content: "\efb2";
}

i.styledIcon.calendar:before {
    content: "\ec45";
}

i.styledIcon.cop:before {
    content: "\ebb4";
}

i.styledIcon.arrowLeft:before {
    font-family: "jira";
    content: "\e91e";
}

i.styledIcon.arrowRight:before {
    font-family: "jira";
    content: "\e91f";
}
