.styledAvatar.image {
    display: inline-block;
    border-radius: 100%;
    /*background-image: url("${imageURL}");*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--backgroundLight);
}

.styledAvatar.letter {
    display: inline-block;
    /*width: ${props => props.size} px;*/
    /*height: ${props => props.size} px;*/
    border-radius: 100%;
    text-transform: uppercase;
    color: #fff;
    /*background: ${props => props.color};*/
    font-family: var(--font-medium);
    font-weight: normal;
    /*${props => font.size(Math.round(props.size / 1.7))}*/
}

.styledAvatar.letter > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.styledAvatar.avatarColor1, .styledAvatar span.avatarColor1 {
    color: var(--avatar-color-1);
}

.styledAvatar.avatarColor2, .styledAvatar span.avatarColor2 {
    color: var(--avatar-color-2);
}

.styledAvatar.avatarColor3, .styledAvatar span.avatarColor3 {
    color: var(--avatar-color-3);
}

.styledAvatar.avatarColor4, .styledAvatar span.avatarColor4 {
    color: var(--avatar-color-4);
}

.styledAvatar.avatarColor5, .styledAvatar span.avatarColor5 {
    color: var(--avatar-color-5);
}

.styledAvatar.avatarColor6, .styledAvatar span.avatarColor6 {
    color: var(--avatar-color-6);
}

.styledAvatar.avatarColor7, .styledAvatar span.avatarColor7 {
    color: var(--avatar-color-7);
}

.styledAvatar.avatarColor8, .styledAvatar span.avatarColor8 {
    color: var(--avatar-color-8);
}
