.styledSelect {
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px
}

.styledSelect.normal {
    width: 100%;
    border: 1px solid var(--borderLightest);
    background: var(--backgroundLightest);
    transition: background 0.1s;
}

.styledSelect.empty {
    display: inline-block;
}

.styledSelect:hover {
    background: var(--backgroundLight);
}

.styledSelect:focus {
    outline: none;
}

.styledSelect.normal:focus {
    border: 1px solid var(--borderInputFocus);
    box-shadow: 0 0 0 1px var(--borderInputFocus);
    background: #fff;
}

.styledSelect.invalid, .styledSelect.invalid:focus {
    border: 1px solid var(--danger);
    box-shadow: none;
}

.styledSelect > .dropDownInput {
    padding: 10px 14px 8px;
    width: 100%;
    border: none;
    color: var(--textDarkest);
    background: none;
}

.styledSelect > .dropDownInput:focus {
    outline: none;
}

.styledSelect > .options {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.styledSelect > .options::-webkit-scrollbar {
    width: 8px;
}

.styledSelect > .options::-webkit-scrollbar-track {
    background: none;
}

.styledSelect > .options::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background: var(--backgroundMedium);
}

.styledSelect > .options > .option {
    padding: 8px 14px;
    word-break: break-word;
    cursor: pointer;
}

.styledSelect > .options > .option:last-of-type {
    margin-bottom: 8px;
}

.styledSelect > .options > .option.jira-select-option-is-active {
    background: var(--backgroundLightPrimary);
}

.styledSelect > .noOptions {
    padding: 5px 15px 15px;
    color: var(--textLight);
}

.styledSelect > .styledIcon {
    position: absolute;
    top: 4px;
    right: 7px;
    padding: 5px;
    font-size: 16px;
    color: var(--textMedium);
    cursor: pointer;
    user-select: none;
}
