.styledCheckbox {
    display: flex;
    justify-content: space-between;
}

.styledCheckbox > .styledCheckboxChild {
    display: block;
    border: 1px solid var(--borderLight);
    font-family: var(--font-medium);
    line-height: 2;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14.5px;
    padding: 0 12px;
}

.styledCheckbox > .styledCheckboxChild.selected,
.styledCheckbox > .styledCheckboxChild:focus {
    border-color: var(--borderInputFocus);
}

.styledCheckbox > .styledCheckboxChild.selected {
    color: var(--borderInputFocus);
}

.styledCheckbox > .styledCheckboxChild > input[type=radio] {
    display: none;
}

.styledCheckbox > .styledCheckboxChild.untracking.selected {
    color: var(--success);
    border-color: var(--success);
}

.styledCheckbox > .styledCheckboxChild.fibonacci.selected {
    color: var(--warning);
    border-color: var(--warning);
}

.styledCheckbox > .styledCheckboxChild.hourly.selected {
    color: var(--danger);
    border-color: var(--danger);
}
