.styledDateTimeInput {
    position: relative;
}

/*         TOOLTIP           */

.dateTimeTooltip {
    padding: 15px;
    position: absolute;
    top: 0;
    width: 720px;
    min-width: 720px;
    max-width: 720px;
}

.dateTimeTooltip > h2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.dateTimeTooltip > .actions {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    line-height: 2rem;
}

.dateTimeTooltip > .calendar {
}

.dateTimeTooltip > .calendar > .week {
    display: flex;
    border-left: 1px solid var(--textDarkest);
    border-right: 1px solid var(--textDarkest);
}

.dateTimeTooltip > .calendar > .week:first-child {
    border-top: 1px solid var(--textDarkest);
}

.dateTimeTooltip > .calendar > .week:last-child {
    border-bottom: 1px solid var(--textDarkest);
}

.dateTimeTooltip > .calendar > .week.weekHeader {
    border-bottom: 1px solid var(--textDarkest);
}

.dateTimeTooltip > .calendar > .week > .day {
    width: calc(100% / 7);
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
}

.dateTimeTooltip > .calendar > .week > .day.inCurrentMonth:hover,
.dateTimeTooltip > .calendar > .week > .day.outCurrentMonth:hover {
    background: var(--primary);
    color: var(--asideIcon);
}

.dateTimeTooltip > .calendar > .week > .day.inCurrentMonth {
    color: var(--textDarkest);
}

.dateTimeTooltip > .calendar > .week > .day.outCurrentMonth {
    color: var(--textLight);
}

.dateTimeTooltip > .calendar > .week > .day.inCurrentMonth.selected,
.dateTimeTooltip > .calendar > .week > .day.outCurrentMonth.selected {
    color: var(--primary);
    background: var(--asideIcon);
}

.dateTimeTooltip > .calendar > .week > .day {
    font-family: var(--font-medium);
    font-size: 1rem;
    cursor: pointer;
}
